* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  position: relative;
}

.master-div {
  display: flex;
  flex-direction: row;
  height:100vh;
  width:100vw;
  position: relative;
}

.left {
  width: 40%;
  height:100%;
  background-image: url("/static/matthew-henry-VviFtDJakYk-unsplash.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
  position: relative;
}

#logo {
  position: relative;
  background-color: black;
  opacity: 40%;
  font-size: 4rem;
  top:50%;
  width: 100%;
  color:white;
  padding:10px;
}

#photo-desc {
  position: absolute;
  bottom: 1px;
  right:10px;
  font-size: small;
  color:white;
}

.right {
  width: 60%;
  height:100%;
}

.master-form {
  height: 100%;
  width: 100%;
}
.r1, .r2, .r3 {
  height:33%;
  background-color: rgb(237, 237, 237);
  align-content: center;
  display:flex;
  align-items: center;
  padding-inline: 5%;
}

.r2 {
  display:flex;
  background-color: white;
  flex-direction: row;
  align-content:center;
  justify-content: space-between;
  flex-wrap: wrap;
  height:34%;
  padding-block: 30px;
}

.f-field-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px 50px;
}

.f-field {
  display: flex;
  flex-direction:column;
  font-weight: 100;
  color: rgb(150, 150, 150);
  margin-top:20px;
  font-size: 0.8rem;
  gap:5px;
}

input {
  width:250px;
  padding:5px;
  border: solid 1px rgb(237, 237, 237);
  border-radius: 5px;
  position:relative;
}

input:placeholder-shown {
  border: solid 1px rgb(237, 237, 237) !important;
}

input:valid {
  border: solid 1px rgb(74, 238, 93);
}

input:invalid {
  border: solid 1px rgb(239, 70, 9);
}

#final-button {
  align-self: flex-start;
  background-color: steelblue;
  color: white;
  width:250px;
  padding:5px;
  border-radius: 5px;
  margin:auto;
}

@media only screen and (max-width: 1000px) {
  .master-div {
    flex-direction: column;
    height:auto;
  }

  .left {
    width: 100%;
    height: auto;
    justify-items: center;
  }

  .right {
    width: 100%;
    height: auto;
    justify-items: center;
  }

  .r1, .r2, .r3 {
  gap:5px;
  height:auto;
  padding-block: 10px;
  }

  .f-field {
    display: flex;
    flex-direction:column;
    font-weight: 100;
    color: rgb(150, 150, 150);
    margin-top:10px;
    font-size: 0.8rem;
    gap:5px;
  }

  #final-button {
    align-self: center;
    justify-self: center;
    margin-inline: auto;
  }
}